<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ViColla</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" media="all" type="text/css" />
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/video-player.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
</head>
<body ng-app="mainApp" layout="column" layout-align="top center">

<main-header-toolbar></main-header-toolbar>
<md-content class="tabsContent" layout="column" flex>
    <md-tabs md-dynamic-height md-border-bottom md-selected="currentMainTab" class="noTabPanel">
        <md-tab label="Offline Support">
            <section flex layout="row">
                <md-content flex>
                    <div id="whiteFrameContainer"layout="row" layout-align="center center" ng-controller="MainController">
                        <section flex="75" layout-padding layout="column" layout-align="start center" layout-fill>
                            <canvas id="outputCanvas" layout-fill
                                    ng-mousedown="mouseDownHandler($event)"
                                    ng-mousemove="mouseMoveHandler($event)"
                                    ng-mouseup="mouseUpHandler($event)">
                                <p>Sorry your browser does not support HTML5</p>
                            </canvas>
                            <section layout="row" layout-align="start center">
                                <md-button ng-click="toggleRight()" class="md-raised md-primary">
                                    Toggle right
                                </md-button>
                                <md-button ng-click="saveSnapshot()" class="md-raised md-primary">
                                    Save
                                </md-button>
                                <md-button ng-click="playAugmentedVideo()" class="md-raised md-primary">
                                    Play
                                </md-button>
                            </section>
                        </section>
                        <section flex layout-padding layout="column" layout-align="space-between center" layout-fill>
                            <section>
                                <video-player></video-player>
                            </section>
                            <section layout-padding layout="row" layout-align="center center">
                                <my-toolbox></my-toolbox>
                                <clear-button></clear-button>
                                <select-video-button></select-video-button>
                            </section>
                        </section>
                    </div>
                </md-content>
                <md-sidenav class="md-sidenav-right md-whiteframe-z5" md-component-id="right"
                            layout="column" layout-align="start center">
                    <md-toolbar class="md-theme-light">
                        <h1 class="md-toolbar-tools">Snapshots</h1>
                    </md-toolbar>
                    <md-content ng-controller="RightCtrl" layout="column">
                        <div id="snapshots" class="gridListdemoBasicUsage"
                             layout="column">

                        </div>
                        <md-button ng-click="close()" class="md-raised md-primary">
                            Close
                        </md-button>
                    </md-content>
                </md-sidenav>
            </section>
        </md-tab>
        <md-tab label="Online Support">
            <md-content class="md-padding">
                <h1>To be done</h1>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>







<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/ngvideo/dist/ng-video.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/services.js"></script>
<script src="app/js/directives.js"></script>
<script src="app/js/controllers.js"></script>
</body>
</html>