<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ViColla</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="bower_components/mdi/css/materialdesignicons.min.css" media="all" type="text/css" />
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/video-player.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
</head>
<body ng-app="mainApp" layout="column" layout-align="top center">

<header-toolbar></header-toolbar>
<div id="whiteFrameContainer" ng-controller="mainController" layout layout-align="center center">
    <my-toolbox></my-toolbox>
    <video-player></video-player>
    <canvas style="position: absolute; left: 2%; top: 5%; width: 75%; height: 90%;" id="outputCanvas"
            ng-mousedown="mouseDownHandler($event)"
            ng-mousemove="mouseMoveHandler($event)"
            ng-mouseup="mouseUpHandler($event)">
        <p>Sorry your browser does not support HTML5</p>
    </canvas>

    <div class="md-padding bottomSheetdemoBasicUsage" id="bottomGridElement">
        <div id="toolsButtonContainer" class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
            <md-button class="md-fab md-primary md-fab-bottom-left left" aria-label="Clear" ng-click="showClearOptionsToolbox($event)">
                <md-tooltip>Clear</md-tooltip>
                <md-icon md-svg-src="app/img/icons/brush1.svg"></md-icon>
            </md-button>
        </div>
    </div>

    <input id="upload" type="file" onchange="angular.element(this).scope().getVideoFile()"
           accept=".mp4" ng-model="files" ng-multiple="false" style="display: none;">
    <md-button id="addVideoButton" class="md-fab md-primary md-fab-bottom-right right" aria-label="Add" ng-click="openFileDialog()">
        <md-tooltip>Select Video</md-tooltip>
        <md-icon md-svg-src="app/img/icons/add186.svg"></md-icon>
    </md-button>
</div>








<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/ngvideo/dist/ng-video.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/services.js"></script>
<script src="app/js/directives.js"></script>
<script src="app/js/controllers.js"></script>
</body>
</html>