.app-content {
    width: 100%;
}

#whiteFrameContainer {
    margin: 2%;
    height: 80%;
    width: 96%;
    #border: 3px solid red;
    position: absolute;

    background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* W3C */

}

#addVideoButton {
    margin-right: 2%;
    margin-bottom: 2%;
    position: absolute;
}

#lowerPage {
    position: absolute;
}

/* bottom grid */
#bottomGridElement {
    position: absolute;
    bottom: 2%;
    width: 20%;
}

ul {
    border-top: 1px solid #D5DDE4;
    padding: 0;
    margin: 0;
}

ul#tools {
    border-top: none;
    padding-left: 8px;
}

ul#palette {
    line-height: 0;
}

#palette li, #erase {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 1px solid #D5DDE4;
    margin: 4px 1px;
}

#palette span#erase {
    margin-left: 8px;
    background-image: url("../images/eraser24.png");
}

/* output canvas */
#outputCanvas{
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #FFF;
    box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
    cursor: crosshair;
}
/*
#canvasContainer{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 90%;
    border: 10px #333 solid;
}*/