html, body {
    width: 100%;
    height: 100%;
}

/* Document outer layout */
md-tabs.noTabPanel md-tabs-wrapper {
    display: none !important;
}
md-tabs.noTabPanel1 md-tabs-wrapper {
    display: block !important;
}
md-tabs.noTabPanel, md-tabs.noTabPanel md-tabs-content-wrapper, md-tabs.noTabPanel md-tabs-content-wrapper md-tab-content,
md-tabs.noTabPanel md-tabs-content-wrapper md-tab-content div.ng-scope,
md-tabs.noTabPanel md-tabs-content-wrapper md-tab-content div.ng-scope md-content{
    height: 100%;
    width: 100%;
    position: absolute;
}
md-content.tabsContent {
    height: 100%;
}
#whiteFrameContainer {
    height: 100%;
    width: 100%;
    position: absolute;

    background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* W3C */
}

/* bottom grid */
#bottomGridElement {
    position: absolute;
    bottom: 2%;
    width: 20%;
}

ul {
    border-top: 1px solid #D5DDE4;
    padding: 0;
    margin: 0;
}

/* output canvas */
#outputCanvas{
    border: 2px solid blue;
    background-color: black;
    box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
    cursor: crosshair;

    #background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Chrome 10+, Saf5.1+ */
    #background:    -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* FF3.6+ */
    #background:     -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* IE10 */
    #background:      -o-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Opera 11.10+ */
    #background:         linear-gradient(90deg, #517fa4 10%, #243949 90%); /* W3C */

}

.pathItem:hover{
    box-shadow: 4px 4px 4px darkgray !important;
}

/* saved snapshots grid design */
.gridListdemoBasicUsage md-grid-list {
    margin: 8px; }
.gridListdemoBasicUsage .green {
    background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
    background: #ffff8d; }
.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }
.gridListdemoBasicUsage md-grid-tile-footer {
    background: #b9f6ca;
    opacity: 0.5;
    color: black;
}