.app-content {
    width: 100%;
}

.upperPage md-whiteframe {
    margin: 20px;
    padding: 20px;

    background: -webkit-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #348F50 10%, #56B4D3 90%); /* W3C */

}

.upperPage .right {
    margin-right: 2%;
    margin-bottom: 4%;
}
