section.video {
    padding: 5px;
    position: absolute;
    right: 1%;
    top: 2%;
    width: 20%;
    box-shadow: 0 0 35px rgba(0, 0, 0, .25);
    border: 1px solid black;
}

section.video .videoScreenContainer {
    position: relative;
    max-width: 100%;
    #border: 1px solid red;
}

section.video .videoScreenContainer video {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    position: relative;
    #border: 1px solid black;
}

section.video .videoAccessories {
    position: relative;
    height: 48px;
    border: 1px solid green;
}

section.video .videoAccessories section.controls {
    position: absolute;
    z-index: 5;
    line-height: 48px;
    color: white;
    #border: 1px solid blue;
    width: 100%;
}

section.video .videoAccessories section.controls span {
    position: relative;
    cursor: pointer;
    line-height: 100%;
    font-size: 24px;
    padding: 5px;
    transition: background-color .35s;
    border-radius: 3px;
}

section.video .videoAccessories section.controls span:hover {
    background-color: rgba(255, 255, 255, .25);
}

section.video .videoAccessories section.full-screen {
    position: relative;
    cursor: pointer;
    color: white;
    z-index: 5;
    line-height: 48px;
    float: right;
    padding: 5px;
    #border: 1px solid yellow;
}