<md-dialog aria-label="Augmented Video" ng-style="{'width':canvasWidth + 'px', 'height':canvasHeight + 'px'}">
    <form layout-fill layout-padding>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Augmented Video</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="{{ augmentedVideoDialogIcons[0].icon }}" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" flex>
            <form flex>
                <canvas ng-style="{'background-color':'black'}" flex
                        id="augmentedVideoCanvas">
                    <p>Sorry your browser does not support HTML5</p>
                </canvas>
            </form>
            <div class="md-actions" layout="row">
                <md-button ng-click="playVideo('apply')" style="margin-right:20px;" >
                    Play Video
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>