<div ng-controller="colorsToolbarController" id="colorsContainer" class="fabToolbardemoBasicUsage">
    <md-fab-toolbar md-open="isDrawingToolOpen.isOpen" ng-class="isDrawingToolOpen.selectedAlignment">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <i class="material-icons">create</i>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <i class="material-icons">account_balance_wallet</i>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <i class="material-icons">account_balance_wallet</i>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <md-fab-toolbar md-open="isShapesToolOpen.isOpen" ng-class="isShapesToolOpen.selectedAlignment">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <i class="material-icons">transform</i>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <md-fab-toolbar md-open="isTextToolOpen.isOpen" ng-class="isTextToolOpen.selectedAlignment">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <i class="material-icons">text_format</i>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>

    <md-fab-toolbar md-open="isColorToolOpen.isOpen" ng-class="isColorToolOpen.selectedAlignment">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <i class="material-icons">format_color_fill</i>
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="comment" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>
                </md-button>
                <md-button aria-label="photo" class="md-icon-button">
                    <md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</div>