<div id="toolsContainer" ng-controller="demoController as demo" layout="column" class="fabSpeedDialdemoBasicUsage" ng-app="helperApp">
    <md-content layout="column" style="background-color: transparent">
        <div class="lock-size" layout="row" layout-align="center center">
            <md-fab-speed-dial md-open="demo.isDrawingToolOpen" md-direction="up" ng-class="demo.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="facebook" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

            <md-fab-speed-dial md-open="demo.isShapesToolOpen" md-direction="up" ng-class="demo.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="facebook" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

            <md-fab-speed-dial md-open="demo.isTextToolOpen" md-direction="up" ng-class="demo.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <i class="mdi mdi-pencil mdi-24px"></i>  <!-- plus icon -->
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="facebook" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-content>
</div>