<md-bottom-sheet layout="column">
    <md-list layout="row">
        <md-list-item ng-repeat="item in items" class="pathItem">
            <md-button class="md-grid-item-content" ng-click="toolClicked($index)">
                <md-icon md-svg-src="{{item.icon}}"></md-icon>
                <div class="md-grid-text"> {{ item.name }} </div>
            </md-button>
        </md-list-item>
    </md-list>

    <md-list layout="row" layout-align="start start" flex style="padding: 0; margin-bottom: 1%;">
        <div flex="40" layout="row" layout-align="space-around center" >
            <div flex="15">Select Color</div>
            <md-list-item flex ng-repeat="color in colors" class="pathItem">
                <md-button class="md-grid-item-content" ng-click="colorClicked($index)" style="min-width: 100%; margin: 0;">
                    <md-tooltip>{{ color.name }}</md-tooltip>
                    <md-icon style="background-color: {{color.color}}; border: 1px black ridge"></md-icon>
                </md-button>
            </md-list-item>
        </div>
        <div flex layout="row" style="margin-left: 4%;" layout-align="center center">
            <div flex="15">Brush Thickness</div>
            <md-slider id="thicknessSlider" ng-change="setThickness()" flex class="md-primary" md-discrete=""
                       ng-model="brushThickness" step="1" min="1" max="100" aria-label="rating">
            </md-slider>
        </div>
    </md-list>
</md-bottom-sheet>