<section class="videoContainer" ng-video ng-model="interface">
    <div class="videoScreenContainer">
        <!-- Video Screen Directive -->
        <video vi-screen></video>
    </div>
    <div class="videoAccessories">
        <!-- Controls Directive -->
        <section vi-controls class="controls">
                        <span ng-click="interface.controls.play()" title="Play">
                            <i class="mdi mdi-play mdi-36px"></i>  <!-- play icon -->
                        </span>
                        <span ng-click="interface.controls.pause()" title="Pause">
                            <i class="mdi mdi-pause mdi-36px"></i>  <!-- pause icon -->
                        </span>
        </section>
        <!-- Full Screen Directive
        <section class="full-screen">
                    <span title="Full Screen" vi-full-screen-toggle>
                        <i class="mdi mdi-fullscreen mdi-36px"></i>
                    </span>
        </section>
        -->
    </div>
</section>