<section class="video" ng-video ng-model="interface">
    <div class="videoScreenContainer">
        <!-- Video Screen Directive -->
        <video poster="app/img/others/poster_1.jpg" id="videoBackgrounddata" muted
               video-current-time="currentTime" vi-screen></video>
    </div>
    <div class="videoAccessories">
        <!-- Controls Directive -->
        <section vi-controls class="controls" layout="row" layout-align="start center" flex>
            <span id="playButtonSpan" vi-controls-play ng-click="playVideo()" flex="15" ng-show="playerControls[0].show">
                <md-icon id="playIcon" md-svg-src="{{playerControls[0].icon}}" ng-show="playerControls[0].show">
                    <md-tooltip>{{playerControls[0].name}}</md-tooltip>
                </md-icon>
            </span>
            <span vi-controls-pause flex="15" ng-show="playerControls[1].show">
                <md-icon md-svg-src="{{playerControls[1].icon}}" ng-show="playerControls[1].show">
                    <md-tooltip>{{playerControls[1].name}}</md-tooltip>
                </md-icon>
            </span>
            <span vi-controls-pause flex="15" ng-click="playVideo()" ng-show="playerControls[2].show">
                <md-icon md-svg-src="{{playerControls[2].icon}}" ng-show="playerControls[2].show">
                    <md-tooltip>{{playerControls[2].name}}</md-tooltip>
                </md-icon>
            </span>
            <!-- Video information Directive -->
            <section vi-feedback layout="row" layout-align="space-around center" flex>
                <span style="font-size: small; color: black;">{{Math.round(currentTime)}}</span>
                <!-- Timeline Directive -->
                <md-slider flex min="0" max="{{duration}}" ng-model="currentTime"
                           aria-label="blue" class="md-primary" style="margin-left: 5%;"></md-slider>
                <span style="font-size: small; color: black;">{{Math.round(duration)}}</span>
            </section>
        </section>
    </div>
</section>